@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Miltonian+Tattoo&family=Open+Sans&display=swap');

:root {
    /* RGB color values */
    --colour-1: 6, 214, 160;
    --colour-2: 239, 71, 111;
    --colour-3: 255, 209, 102;
    --colour-4: 17, 138, 178;
    --colour-5: 7, 59, 76;
    --body-colour: 247, 247, 247;
    --heading-colour: 28, 28, 28

    --success-toast-bg: 204, 255, 153;
    --success-toast-color: 53, 102, 0;
    --error-toast-bg: 255, 153, 153;
    --error-toast-color: 128, 0, 0;
    --info-toast-bg: 153, 204, 255;
    --info-toast-color: 0, 51, 102;
    --warning-toast-bg: 255, 214, 153;
    --warning-toast-color: 153, 92, 0;
}

.colour-1-bg {
    background-color: rgba(var(--colour-1), 1);
}

.colour-2-bg {
    background-color: rgba(var(--colour-2), 1);
}

.colour-3-bg {
    background-color: rgba(var(--colour-3), 1);
}

.colour-4-bg {
    background-color: rgba(var(--colour-4), 1);
}

.colour-1-border {
    border: 4px solid rgba(var(--colour-1), 1);
}

.colour-2-border {
    border: 4px solid rgba(var(--colour-2), 1);
}

.colour-3-border {
    border: 4px solid rgba(var(--colour-3), 1);
}

.colour-4-border {
    border: 4px solid rgba(var(--colour-4), 1);
}

$section-margin-top: 10vh;

.open-sans {
    font-family: "Open Sans", sans-serif !important;
}

.miltonian-tattoo {
    font-family: "Miltonian Tattoo", sans-serif !important;
}