{% extends 'base.html' %}

{% block header %}
    <section id="cart-header" class="header-container container-fluid"></section>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5 mb-3 d-inline-block page-heading">Your Order</h1>
        </div>
        <div class="col-12">
            {% if cart_items %}
                {{ cart_items }}
            {% endif %}
        </div>
    </div>
    

</div>
{% endblock %}