{% extends 'base.html' %}

{% block header %}
    <section id="cart-header" class="header-container container-fluid"></section>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5 mb-3 d-inline-block page-heading">Your Order</h1>
        </div>
        <div class="col-12">
            {% if cart_items %}
                <div class="table-responsive">
                    <table id="cart-table" class="table table-borderless table-sm">
                        <thead class="text-dark thead-dark">
                            <tr>
                                <th scope="col" class="pl-2">Product Info</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for cart_item in cart_items %}
                            <tr>
                                <td class="py-3">
                                    <p class="my-0 pl-2"><strong>{{ cart_item.product.name }}</strong></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ cart_item.product.price }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">{{ cart_item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>€{{ cart_item.product.price }}</strong></p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Order Sub-Total: €{{ sub_total|floatformat:2 }}</strong></h6>
                                <h6><strong>Delivery: ${{ delivery_charge|floatformat:2 }}</strong></h6>
                                <h4 class="mt-4"><strong>Order Total: €{{ order_total|floatformat:2 }}</strong></h4>
                                {% if sub_total < delivery_threshold %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>€a bit</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row m-0">
                    <div class="col-12 text-right px-0">
                        <a href="{% url 'menu' %}" class="btn btn-lg keep-shopping-button">Keep Shopping</a>
                        <a href="" class="btn btn-lg checkout-button">Secure Checkout</a>
                    </div>
                </div>
            {% else %}
                <h2>Your shopping cart is empty &#x1F625;</h2>
                <a href="{% url 'menu' %}">Go To Menu</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}