{% extends 'base.html' %}

{% load static %}

{% block header %}
    <section id="header" class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item image-wrapper active" style="background: url({{ carousel_image_1.image.url }});">
                    <div class="call-to-action">
                        <h1 class="text-center p-xs-3 mb-xs-3 mb-lg-5">Get a-clickin' and those fingers a-lickin'</h1>
                        <a href="{% url 'menu' %}?category=burgers" class="btn call-to-action-btn pt-2 pb-4 text-center text-white">Order Now!</a>
                    </div>
                </div>
                <div class="carousel-item image-wrapper" style="background: url({{ carousel_image_2.image.url }});">
                    <div class="call-to-action">
                        <h1 class="text-center p-xs-3 mb-xs-3 mb-lg-5">Speed <i class="fas fa-arrow-up"></i> the ordering process</h1>
                        <a href="{% url 'account_signup' %}" class="btn call-to-action-btn pt-2 pb-4 text-center text-white">Sign Up</a>
                    </div>
                </div>
                <div class="carousel-item image-wrapper" style="background: url({{ carousel_image_3.image.url }});">
                    <div class="call-to-action">
                        <h1 class="text-center p-xs-3 mb-xs-3 mb-lg-5">Go on. You deserve the best ingredients!</h1>
                        <a href="{% url 'about' %}" class="btn call-to-action-btn pt-2 pb-4 text-center text-white">Read More</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="fas fa-arrow-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="container-fluid" id="ordering-process-wrapper">
        <div class="row w-100 m-0 p-0">
            <div class="col-12">
                <h2 class="light-or-dark-mode-font-color p-0 mb-5" id="ordering-process-heading">Ordering's as simple as...</h2>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
                <div class="ordering-process-image-wrapper" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out">
                    <h3 class="ordering-process-heading light-or-dark-mode-font-color">1. <a href="{% url 'menu' %}">Browse</a> our lovely menu</h3>
                    <img src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1592833481/burgersaurus/cartoon-eyes.png" alt="cartoon eyes">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
                <div class="ordering-process-image-wrapper" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out">
                    <h3 class="d-block d-md-none ordering-process-heading light-or-dark-mode-font-color">2. Add your heart's desire to your order</h3>
                    <img src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1592868840/burgersaurus/shopping-basket.png" alt="finger tapping screen">
                    <h3 class="d-none d-md-block ordering-process-heading light-or-dark-mode-font-color">2. Add your heart's desire to your order</h3>
                </div>
            </div>            
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
                <div class="ordering-process-image-wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
                    <h3 class="ordering-process-heading light-or-dark-mode-font-color">3. Pay securely by card</h3>
                    <img src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1592833482/burgersaurus/card-payment.png" alt="cashless payment">
                </div>
            </div>            
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center">
                <div class="ordering-process-image-wrapper" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out">
                    <h3 class="d-block d-md-none ordering-process-heading light-or-dark-mode-font-color">4. Start working up an appetite while your order is on its way!</h3>
                    <img src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1592833481/burgersaurus/delivery-man.png" alt="delivery man">
                    <h3 class="d-none d-md-block ordering-process-heading light-or-dark-mode-font-color">4. Start working up an appetite while your order is on its way!</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid p-0">
        <div id="landing-page-info-boxes" class="row w-100">
            <div class="col-12 col-md-6 landing-page-info-box-col m-0 p-0">
                <div class="landing-page-info-box" data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-out">
                    <img class="landing-page-info-box-1-image" src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1592855995/burgersaurus/leprechaun.png" alt="image of leprechaun">
                    <h2 class="text-white px-4" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out">We proudly support Irish producers</h2>
                    <p class="text-white p-5">
                        Sure, we might be able to source our ingredients cheaper elsewhere. However, we firmly believe in supporting Irish farmers and get a lot of our ingredients from local small businesses. It's all good and from the 'hood.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 landing-page-info-box-col m-0 p-0">
                <div class="landing-page-info-box" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-in-out">
                    <img class="landing-page-info-box-2-image" src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1592944083/burgersaurus/trophy.png" alt="image of trophy">
                    <h2 class="text-white px-4" data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out">We might've won an award or two...</h2>
                    <p class="text-white p-5">
                        Yes yes, we know you're not supposed to blow your own horn... but &#x1F4EF; &#x1F4EF;! We'll let you be the ultimate judge, but if you disagree with our awards for <span>Best Tasting Burger</span> and <span>Takeaway of the Year</span>, you're wrong of course. Just kidding!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_js %}
{% endblock %}