{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block header %}
    <section id="cart-header" class="header-container container-fluid" style="background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1593784299/burgersaurus/hamburger-1214465_1920_z4j1lf.jpg');"></section>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mx-auto">
        <div class="col-12">
            <h1 class="my-5 d-inline-block page-heading">Profile</h1>
        </div>
    </div>
</div>
{% endblock %}