{% load static %}

<div class="container">
    <div class="row mx-auto">
        <div class="col-12">
            <h1 class="my-5 d-inline-block page-heading">Content Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form id="content-management-form" action="" method="POST">
                <fieldset class="p-2 mb-3">
                    <legend class="d-inline w-auto p-2>Theme Colours</legend>
                    {% csrf_token %}
                    {{ form|crispy }}
                </fieldset>
                <button class="btn custom-button-2 float-right"><i class="fas fa-user-edit"></i>  Update Information</button>
            </form>
        </div>
    </div>
</div>