{% extends 'base.html' %}

{% load static %}
{% load calculate_item_subtotal %}

{% block header %}
    <section id="cart-header" class="header-container container-fluid" style="background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1593784299/burgersaurus/hamburger-1214465_1920_z4j1lf.jpg');"></section>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mx-auto">
        <div class="col-12">
            <h1 class="my-5 d-inline-block page-heading">Checkout</h1>
        </div>
        <div class="col-12 col-lg-6 mb-5 mx-auto">
            <h5 class="text-muted">If you'd be so kind, fill out the form below to complete your order</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="p-2 mb-5">
                    <legend class="d-inline w-auto p-2">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="p-2">
                    <legend class="d-inline w-auto p-2">Delivery</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                </fieldset>
                <div class="row m-0 mt-3">
                    <div class="col-12 text-right px-0">
                        <a href="{% url 'view_cart' %}" class="btn custom-button-1 mb-1"><i class="fas fa-shopping-basket"></i>&nbsp;&nbsp;Modify Order</a>
                        <a href="" class="btn checkout-button mb-1"><i class="fab fa-cc-stripe"></i>&nbsp;&nbsp;Checkout</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            {% if cart_items %}
            <h5 class="text-muted">Order Summary</h5>
                <div class="table-responsive">
                    <table id="cart-table" class="table table-borderless table-sm">
                        <thead class="text-dark thead-dark">
                            <tr>
                                <th scope="col" class="pl-2 py-3">Product Info</th>
                                <th scope="col" class="py-3">Price</th>
                                <th scope="col" class="py-3">Qty</th>
                                <th scope="col" class="py-3">Subtotal</th>
                            </tr>
                        </thead>

                        {% for cart_item in cart_items %}
                            <tr class="table-row">
                                <td class="py-3 align-middle">
                                    <p class="my-0 pl-2"><strong>{{ cart_item.product.name }}</strong></p>
                                </td>
                                <td class="py-3 align-middle">
                                    <p class="my-0">€{{ cart_item.product.price }}</p>
                                </td>
                                <td class="py-3 align-middle">
                                    <p class="my-0">{{ cart_item.quantity }}</p>
                                </td>
                                <td class="py-3 align-middle">
                                    <p class="my-0"><strong>€{{ cart_item.product.price | calculate_item_subtotal:cart_item.quantity }}</strong></p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="order-charges">
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Order Sub-Total: €{{ sub_total|floatformat:2 }}</strong></h6>
                                <h6><strong>Delivery: €{{ delivery_charge|floatformat:2 }}</strong></h6>
                                <h4 class="mt-4"><strong>Order Total: €{{ order_total|floatformat:2 }}</strong></h4>
                                {% if sub_total < delivery_threshold %}
                                    <p class="mb-1 text-danger">
                                        You could get free delivery by spending just <strong>€a bit</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}