{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block header %}
    <section id="cart-header" class="header-container container-fluid" style="background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1593784299/burgersaurus/hamburger-1214465_1920_z4j1lf.jpg');"></section>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mx-auto">
        <div class="col-12">
            <h1 class="my-5 d-inline-block page-heading">Thank you!</h1>
            <hr>
            <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
</div>
{% endblock %}