<footer>
    <div class="row py-5">
        <div class="order-3 col-12 order-lg-1 col-lg-4 social-and-copyright text-center footer-col">
            <div>
                <ul class="list-inline">
                    <li class="d-inline pr-2"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="d-inline pr-2"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                    <li class="d-inline pr-2"><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
                <p>&copy; 2020 - wondrousWebWorks()</p>
            </div>
        </div>
        <div class="order-1 col-12 col-md-6 order-lg-2 col-lg-4 footer-col m-2 m-sm-0">
            <div class="text-center">
                <ul class="list-unstyled nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'menu' %}">Menu</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'profile' %}">My Account</a></li>
                </ul>
            </div>
            <hr class="d-block d-md-none mx-auto">
        </div>
        <div class="order-2 col-12 col-md-6 col-lg-4 footer-col mb-2 mb-sm-0">
            <div>
                <h4 class="text-white">Opening Times</h4>
                <ul class="list-unstyled nav-links text-white">
                    <li><i class="far fa-clock"></i>&nbsp;&nbsp;Monday to Friday: 11:00 - 00:00</li>
                    <li><i class="far fa-clock"></i>&nbsp;&nbsp;Saturday: 14:00 - 02:00</li>
                    <li><i class="far fa-clock"></i>&nbsp;&nbsp;Sunday: 13:00 - 00:00</li>
                </ul>
            </div>
            <hr class="d-block d-md-none mx-auto">
        </div>
    </div>
</footer>