{% load static %}

<nav id="navbar" class="navbar navbar-expand-lg fixed-top py-1 px-0">
    <a class="logo-img" href="{% url 'home' %}">
        <img
            src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1592173141/burgersaurus/burgersaurus-cute_qyszmp.png"
            alt="burgersaurus logo" 
            class="my-auto ml-5 mr-2"
        >
    </a>
    <a class="navbar-brand d-none d-sm-block text-white" href="{% url 'home' %}"> Burgersaurus <strong>Rex</strong></a>
    <button class="navbar-toggler h-100" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-auto"><i class="fas fa-bars pink my-auto"></i></span>
    </button>
    <div class="d-none my-auto ml-5"><p class="m-0 text-white nav-para"><strong>The undisputed <u>KING</u> of burgers</strong></p></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item mr-5">
                <form id="search-input" class="form-inline my-2 my-lg-0">
                    <input class="form-control rounded-0" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn my-2 my-sm-0 rounded-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="menuDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Menu
                </a>
                <div class="dropdown-menu py-0" aria-labelledby="menuDropdown">
                    <a class="dropdown-item border-bottom" href="{% url 'menu' %}">💯 Full Menu</a>
                    <a class="dropdown-item border-bottom" href="{% url 'menu' %}?category=meal_deals">🤑 Meal Deals</a>
                    <a class="dropdown-item border-bottom" href="{% url 'menu' %}?category=burgers">🍔 Burgers</a>
                    <a class="dropdown-item border-bottom" href="{% url 'menu' %}?category=hotdogs">🌭 Hotdogs</a>
                    <a class="dropdown-item border-bottom" href="{% url 'menu' %}?category=kebabs">🥙 Kebabs</a>
                    <a class="dropdown-item border-bottom" href="{% url 'menu' %}?category=fish">🐟 Fish</a>
                    <a class="dropdown-item border-bottom" href="{% url 'menu' %}?category=chips">🍟 Chips</a>
                    <a class="dropdown-item border-bottom" href="{% url 'menu' %}?category=extras">🍵 Extras</a>
                    <a class="dropdown-item" href="{% url 'menu' %}?category=drinks">🥤 Drinks</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="accountDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Account
                </a>
                <div class="dropdown-menu py-0" aria-labelledby="accountDropdown">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>&nbsp;&nbsp;Product Management</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;My Profile</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'account_signup' %}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Sign Up</a>
                        <a class="dropdown-item" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Sign In</a>
                    {% endif %}
                </div>
            </li>
        </ul>
        <div id="view-cart" class="mr-5 text-center">
            <a href="{% url 'view_cart' %}" class="m-0 d-block"><i class="fas fa-shopping-cart"></i></a>
            <a href="{% url 'view_cart' %}" class="text-white d-block">€{% if order_total > 2 %}{{ order_total|floatformat:2 }}{% else %}0.00{% endif %}</a>
        </div>
    </div>
</nav>
<h4 id="delivery-banner" class="text-center py-0 m-0"><em>Spend a minimum of €{{ delivery_threshold|floatformat:2 }} to qualify for delivery.</em></h4>
