<div id="theme-selector-wrapper">
    <div id="theme-options">
        <div class="theme-option dark-mode colour-1-border mr-2"></div>
        <div class="theme-option theme-1 colour-1-border mr-2">
            <div class="theme-colour-band colour-1-bg"></div>
            <div class="theme-colour-band colour-2-bg"></div>
            <div class="theme-colour-band colour-3-bg"></div>
            <div class="theme-colour-band colour-4-bg"></div>
        </div>
        <div class="theme-option theme-2 colour-2-border mr-2">
            <div class="theme-colour-band colour-2-bg"></div>
            <div class="theme-colour-band colour-3-bg"></div>
            <div class="theme-colour-band colour-4-bg"></div>
            <div class="theme-colour-band colour-1-bg"></div>
        </div>
        <div class="theme-option theme-3 colour-4-border mr-2">
            <div class="theme-colour-band colour-4-bg"></div>
            <div class="theme-colour-band colour-1-bg"></div>
            <div class="theme-colour-band colour-2-bg"></div>
            <div class="theme-colour-band colour-3-bg"></div>
        </div>
    </div>
    <div id="theme-selector-trigger">
        <h3 class="open-sans m-0 py-1 text-dark text-center">THEMES</h3>
    </div>
</div>