{% extends 'base.html' %}

{% block content %}
<article id="add-product-form" class="container section-margin-top">
    <div class="row mx-auto">
        <div class="col-12 col-md-8 mx-auto">
            <h1 class="my-5 d-inline-block page-heading light-or-dark-mode-font-color">Product Management</h1>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-md-8 mx-auto">
            <form action="{% url 'add-product' %}" method="POST">
                {% csrf_token %}
                <fieldset class="p-3 mb-3">
                    <legend class="p-2 d-inline w-auto">
                        Add Product
                    </legend>
                    {{ form | crispy }}
                </fieldset>
                <div class="text-right">
                    <button class="btn-custom colour-1-border btn-background-and-colour mb-2 d-xs-block d-sm-inline-block"><i class="fas fa-hamburger"></i> Back To Menu</button>
                    <button class="btn-custom colour-2-border btn-background-and-colour ml-2 mb-2 d-xs-block d-sm-inline-block"><i class="fas fa-plus-circle"></i> Add Product</button>
                </div>
            </form>
        </div>
    </div>
</article>
{% endblock %}