{% extends 'base.html' %}

{% block header %}
    {% if categories %}
        {% for category in categories %}
            <section id="menu-header" class="header-container container-fluid" style="background: url('{{ category.menu_header_url }}');background-attachment: fixed;"></section>
        {% endfor %}
    {% else %}
            <section id="menu-header" class="header-container container-fluid" style="background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1592585702/burgersaurus/burger-close-up.jpg');background-attachment: fixed;"></section>
    {% endif %}
{% endblock %}

{% block content %}
<article id="menu" class="container">
    <h2 class="mt-5">Menu Categories</h2>
    <ul id="menu-nav" class="nav">
        <li class="nav-item">
            <a class="nav-link btn btn-info mr-2 mb-2" href="{% url 'menu' %}">💯 Full Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info mr-2 mb-2" href="{% url 'menu' %}?category=meal_deals">🤑 Meal Deals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info mr-2 mb-2" href="{% url 'menu' %}?category=burgers">🍔 Burgers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info mr-2 mb-2" href="{% url 'menu' %}?category=hotdogs">🌭 Hotdogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info mr-2 mb-2" href="{% url 'menu' %}?category=kebabs">🥙 Kebabs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info mr-2 mb-2" href="{% url 'menu' %}?category=fish">🐟 Fish</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info mr-2 mb-2" href="{% url 'menu' %}?category=chips">🍟 Chips</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info mr-2 mb-2" href="{% url 'menu' %}?category=extras">🍵 Extras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info mb-2" href="{% url 'menu' %}?category=drinks">🥤 Drinks</a>
        </li>
    </ul>
    {% for category in categories %}
        <h1 class="mt-5 mb-3 d-inline-block page-heading">{{ category.friendly_name }}</h1>
    {% endfor %}
    {% for menu_item in menu %}
        <div class="row menu-item py-4 mb-2 mx-auto" {% if not forloop.first %}data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out"{% endif %}>
            <div class="col-sm-9">
                <h3>{{ menu_item.name }}</h3>
                {% if request.user.is_superuser %}
                    <div class="product-management-wrapper">
                        <a href="{% url 'edit-product' menu_item.id %}" class="btn custom-button-1 mb-2"><i class="fas fa-edit"></i>  Edit Product</a>
                        <a href="{% url 'delete-product' menu_item.id %}" class="btn custom-button-2 mb-2"><i class="fas fa-trash-alt"></i>  Delete Product</a>
                    </div>
                {% endif %}
                <p>{{ menu_item.description }}</p>
                {% if menu_item.allergens.all %}
                    <h4><a class="text-dark" href="https://erudus.com/14-major-food-allergens-for-eu-food-information-for-consumers/" target="blank"><strong>Allergens:</strong></a><span class="badge badge-secondary ml-2">Click allergen for info</span></h4>
                    {% for allergen in menu_item.allergens.all %}
                        <a href="{{ allergen.info_url }}" target="_blank" class="allergen btn btn-info">{{ allergen.friendly_name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-3 price-and-add-button text-right">
                <p class="text-right"><strong>€{{ menu_item.price }}</strong></p>
                <form class="form" action="{% url 'add_to_cart' menu_item.id %}" method="POST">
                    {% csrf_token %}
                    <label for="id_qty_{{ menu_item.id }}">Quantity</label>
                    <input type="number" name="quantity" value="1" min="1" max="99">
                    <a class="btn add-to-cart-link add-or-update-button" data-id="{{ menu_item.id }}"><i class="fas fa-cart-plus"></i>  ADD TO ORDER</a>
                    <!-- <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}"> -->
                </form>
            </div>
        </div>
    {% endfor %}
</article>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            
            /**
             * Gets the itemId and quantity from the clicked link's
             * attributes and sends a POST fetch request to the
             * back end to update the shopping cart
             * @param {HTMLElement} link 
             */
            const addItemToCart = link => {
                const itemId = link.getAttribute('data-id');
                const quantity = link.previousElementSibling.value;
                const requestBody = {
                    quantity: quantity
                };
                const targetUrl = `/cart/add/${itemId}/`;
                const csrfToken = "{{ csrf_token }}";

                fetch(targetUrl, {
                    method: "POST",
                    credentials: "same-origin",
                    body: JSON.stringify(requestBody),
                    headers: {
                        "X-CSRFToken": csrfToken,
                        "Accept": "application/json",
                        "Content-Type": "application/json",
                        'X-Requested-With':'XMLHttpRequest'
                    },
                }).then(response => {
                    return response;
                }).then(data => {
                    console.log("Data is ok", data);
                }).catch(error => {
                    console.log("Something went wrong!", error);
                }).finally(() => {;
                    location.reload();
                }); 
            };

            const addItemToCartLinks = document.querySelectorAll('.add-to-cart-link');
            addItemToCartLinks.forEach(addItemToCartLink => {
                addItemToCartLink.addEventListener('click', () => {
                    addItemToCart(addItemToCartLink);
                });
            });
        });
    </script>
{% endblock %}