{% extends 'base.html' %}

{% block header %}
    {% for category in categories %}
        <section id="menu-header" class="container-fluid" style="background: url('{{ category.menu_header_url }}');"></section>
    {% endfor %}
{% endblock %}

{% block content %}
<article id="menu" class="container">
    {% for category in categories %}
        <h1 class="mt-5 d-inline-block" id="category">{{ category.friendly_name }}</h1>
    {% endfor %}
    {% for menu_item in menu %}
        <div class="row menu-item py-4 mb-2">
            <div class="col-sm-9">
                <h3>{{ menu_item.name }}</h3>
                <p>{{ menu_item.description }}</p>
                {% if menu_item.allergens.all %}
                    <h4>Allergens:</h4>
                    {% for allergen in menu_item.allergens.all %}
                        <span class="btn btn-info">{{ allergen }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-3 price-and-add-button text-right">
                <p class="text-right"><strong>€{{ menu_item.price }}</strong></p>
                <a href="" class="btn"><i class="fas fa-cart-plus"></i>  ADD TO ORDER</a>
            </div>
        </div>
    {% endfor %}
</article>
{% endblock %}