<!doctype html>

{% load static %}

<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block core_css %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

        <title>Burgersaurus Rex | The home of the juiciest takeway</title>
    </head>
    <body>
    {% include 'includes/navbar.html' %}
    <header>
        {% block header %}
        {% endblock %}
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/error-toast.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/warning-toast.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/success-toast.html' %}
                    {% else %}
                        {% include 'includes/toasts/info-toast.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% include 'includes/theme-selector.html' %}

    {% include 'includes/footer.html' %}

    {% block core_js %}
        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/90fba2838e.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <!-- Animate On Scroll (AOS) -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            AOS.init();
        </script>
    {% endblock %}

    {% block extra_js %}
        <script>
            $('.toast').toast('show')
        </script>
    {% endblock %}
  </body>
</html>