@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Miltonian+Tattoo&family=Open+Sans&display=swap');

:root {
    /* RGB color values */
    --primary-color: 6, 214, 160;
    --secondary-color: 239, 71, 111;
    --tertiary-color: 255, 209, 102;
    --quarternary-color: 17, 138, 178;
    --quanary-color: 7, 59, 76;
    --body-color: 247, 247, 247;

    --success-toast-bg: 204, 255, 153;
    --success-toast-color: 53, 102, 0;
    --error-toast-bg: 255, 153, 153;
    --error-toast-color: 128, 0, 0;
    --info-toast-bg: 153, 204, 255;
    --info-toast-color: 0, 51, 102;
    --warning-toast-bg: 255, 214, 153;
    --warning-toast-color: 153, 92, 0;
}

$section-margin-top: 10vh;