@import 'config';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: $off-white;
}

#navbar {
    background: linear-gradient(to right, $light-blue, $green, $dark-blue) !important;
    background-repeat: repeat;
    height: 10vh;

    .logo-img {
        height: 70%;

        img {
            height: 100%;
        }
    }

    .navbar-brand {
        font-family: 'Metal Mania', cursive !important;
        font-size: 1.7rem;
    }

    button.navbar-toggler {
        font-size: 2.5rem !important;

        .navbar-toggler-icon {
            padding-top: .6rem;
        }
    }

    #delivery-banner {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 10vh;
        left: 0;
    }
}

#header {
    padding: 0;
    position: relative;
    display: block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 0% 100%);

    .image-wrapper::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: inset 12rem 12rem 18rem #000,
                    inset -12rem -12rem 18rem #000;
        // z-index: 10;
    }
}

@media screen and (max-width: 576px) {
    #navbar {
        .navbar-collapse ul {
            width: 100%;
            background-color: $dark-blue;
            padding-left: 2rem;
        }

        #search-input  input {
            display: inline-block !important;
            width: 60%;
        }

        #delivery-banner h4 {
            font-size: 1rem;
        }
    }
}