@import 'config';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(var(--body-colour), 1);
    overflow-x: hidden;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--colour-3), 1) #111;
}

.row {
    width: 100% !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgba(var(--colour-1), 1), rgba(var(--colour-3), 1));
    outline: 1px solid slategrey;
    border-radius: 4px;
}

h1, 
h2, 
h3 {
    font-family: 'Miltonian Tattoo', sans-serif;
}

a {
    cursor: pointer !important;
}

/* Buttons */
.btn-custom {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(var(--body-colour), 1);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none !important;
    transition: all .15s ease-in-out;

    &:hover {
        transform: scale(1.1);
        color: rgba(var(--card-heading-colour), 1);
    }
}

.btn-background-and-colour {
    background-color: #222;
    color: #f7f7f7 !important;
}

#navbar {
    height: 10vh;
    width: 100%;
    transition: 1s;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10000;

    .logo-img {
        height: 100%;

        img {
            height: 100%;
        }
    }

    .navbar-brand {
        font-family: 'Metal Mania', cursive !important;
        font-size: 1.7rem;
        transform: rotateZ(-5deg);
    }

    p.nav-para {
        font-family: "Miltonian Tattoo", cursive;
    }

    a.nav-link {
        font-family: "Metal Mania", sans-serif;
        font-size: 1.4rem;
    }

    a.dropdown-toggle::after {
        margin-left: -.3rem;
    }

    button.navbar-toggler {
        font-size: 2.5rem !important;

        &:focus {
            outline: none;
        }

        .navbar-toggler-icon {
            color: white;
            padding-top: .6rem;
        }
    }

    #search-input button {
        background-color: rgba(var(--colour-2), 1);
    }

    a.nav-link {
        transition: all .5s ease-in-out;

        &:hover {
            color: rgba(var(--colour-3), 1) !important;
        }
    }

    #view-cart {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);

        i {
            font-size: 1.6rem;
            color: rgba(var(--colour-2), 1);
        }
    }

    .navbar-collapse {
        margin-right: 6rem !important;
    }
}

.add-navbar-background {
    background: rgba(var(--colour-1), .85) !important;
    height: 8vh !important;
}

#delivery-banner {
    width: 100%;
    position: fixed;
    z-index: 1;
    margin: 0;
    top: 10vh;
    left: 0;
    color: #f7f7f7;
    transition: 1s
}

.add-delivery-banner-background {
    background-color: rgba(var(--colour-3), .8);
    color: #222 !important;
    top: 8vh !important;
}

#header {
    height: 97vh;
    padding: 0;
    position: relative;
    display: block;
    animation: 6s ease-in-out 0s infinite alternate move-clip-path;

    @keyframes move-clip-path { 
        from { 
            clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 88% 91%, 76% 91%, 64% 94%, 52% 94%, 40% 96%, 29% 95%, 18% 98%, 9% 97%, 0% 100%); 
        } 
        to { 
            clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 88% 93%, 76% 89%, 64% 92%, 52% 96%, 40% 98%, 29% 97%, 18% 96%, 9% 95%, 0% 100%); 
        }  
    }

    .carousel-indicators {
        position: absolute;
        bottom: 12vh;

        li {
            height: .8rem;
            background-color: rgba(var(--colour-1), 1);
        }
    }

    a.carousel-control {
        font-size: 3rem;
        color: rgba(var(--colour-2), 1);
        z-index: 30;
    }

    .image-wrapper {
        height: 97vh;
        width: 100vw;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;

        .call-to-action {
            text-align: center;
            position: absolute;
            bottom: 30vh;
            left: 0;
            right: 0;
            z-index: 20;

            h1 {
                font-size: 4rem;
                color: white;
            }
        }
    }

    .image-wrapper::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: inset 15rem 15rem 30rem #000,
                    inset -15rem -15rem 30rem #000;
    }
}

.call-to-action-btn {
    font-size: 2rem;
    font-family: "Metal Mania", sans-serif;
    background-color: rgba(var(--colour-4), 1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    transition: all .5s ease-in-out;

    &:hover {
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 75%, 25% 98%, 25% 75%, 0% 75%);
    }
}

#ordering-process-wrapper {
    width: 100%;
    padding: 8vh 0;
    z-index: -1;
    overflow: hidden;

    #ordering-process-heading {
        font-size: 5rem;
        width: 70%;
        margin: 0 auto 8vh;
        transform: rotateZ(-7deg);
        text-align: center;
    }

    .ordering-process-image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
            margin: 0 auto;
        }
    }
}

#landing-page-info-boxes {
    transition: all .5s ease-in-out;

    .landing-page-info-row {

        .landing-page-info-box {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .5s ease-in-out;
            height: 50vh;
    
            h2 {
                font-size: 3rem;
                margin: 0 auto;
            }
    
            p {
                font-size: 1.5rem;
            }
        }

        .landing-page-info-image-wrapper {
            background: linear-gradient(to right, rgba(var(--colour-4), 1), rgba(var(--colour-1), 1), rgba(var(--colour-5), 1));
            clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50vh;

            img {
                transition: all .5s ease-in-out;
                height: 75%;
            }
        }
    }
}

footer {
    background: linear-gradient(to right, rgba(var(--colour-4), 1), rgba(var(--colour-1), 1), rgba(var(--colour-5), 1));
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 20vh;

    .footer-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-links li {

        & a {
            text-decoration: none;
            color: #f7f7f7;
            font-family: "Metal Mania", sans-serif;
            font-size: 1.3rem;
            transition: all .5s ease-in-out;

            &:hover {
                color: rgba(var(--colour-2), 1);
            }
        }
    }

    .social-and-copyright {
        color: #f7f7f7;

        & i {
            color: white;
            text-decoration: none;
            font-size: 3rem;
            transition: all .5s ease-in-out;
            
            &:hover {
                color: rgba(var(--colour-2), 1);
            }
        }
    }
}

.page-heading {
    transform: rotateZ(-7deg);
    font-size: 2.5rem;
    text-decoration: underline;
}

.headerless-container {
    margin-top: 15vh !important;
}

#menu {
    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.15rem;
        text-decoration: underline;
    }

    .price-and-add-button {
        p {
            font-size: 1.3rem;
        }
    }
}

.add-or-update-button {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(var(--colour-2),1 );
    color: #f7f7f7 !important;
    border: 2px solid transparent;

    &:hover {
        border: 2px solid rgba(var(--colour-2),1 );
        background: white;
        color: #222 !important;
    }
}

.header-container {
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
    box-shadow: inset 5rem 5rem 16rem #000,
                inset -5rem -5rem 16rem #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-table {
    overflow: hidden !important;
}

.table-row:nth-child(odd) {
    background-color: rgba(var(--colour-3), 1);
}

table tr td {
    font-family: "Open Sans", sans-serif;
}

.order-charges {
    border-top: 2px solid #222;
}

.cart-quantity-link {
    cursor: pointer !important;
}

.underline {
    text-decoration: underline;
}

fieldset {
    background-color: rgba(var(--colour-3), 1);

    legend {
        font-size: 1.2rem;
        background-color: #343a40;
        color: white;
        font-weight: bold;
        display: inline;
    }

    select,
    select option {
        font-family: "Open Sans", sans-serif;
        color: #000;
    }

    select:invalid,
    select option[value=""] {
        color: #aab7c4 !important;
    }

    input[type=checkbox] {
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        padding: 10px;
    }
}

.message-container {
    position: fixed;
    top: 5rem;
    right: 1rem;
    z-index: 100;
}

.success-toast-header {
    background-color: rgba(var(--success-toast-bg), 1);
    color: rgba(var(--success-toast-color), 1);
}

.error-toast-header {
    background-color: rgba(var(--error-toast-bg), 1);
    color: rgba(var(--error-toast-color), 1);
}

.info-toast-header {
    background-color: rgba(var(--info-toast-bg), 1);
    color: rgba(var(--info-toast-color), 1);
}

.warning-toast-header {
    background-color: rgba(var(--warning-toast-bg), 1);
    color: rgba(var(--warning-toast-color), 1);
}

.toast-body {
    font-family: "Open Sans", sans-serif;
}

.auth-container {
    height: 100vh !important;
    width: 100% !important;
    background-image: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1592430542/burgersaurus/header-1.jpg') !important;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 88% 91%, 76% 91%, 64% 94%, 52% 94%, 40% 96%, 29% 95%, 18% 98%, 9% 97%, 0% 100%);

    .allauth-form-inner-content {
        width: 35%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;

        h2, p {
            color: #f7f7f7;
        }

        h2 {
            margin-bottom: 5rem;
        }

        a {
            color: #ef476f;
            text-decoration: none;
        }

        /* Allauth form formatting */

        p {
            margin-top: 1.5rem;
        }

        label {
            color: #f7f7f7;
            font-family: "Open Sans", sans-serif;
        }

        input,
        input:-webkit-autofill {
            border: none !important;
            font-family: "Open Sans", sans-serif;
        }

        input:focus,
        input:active {
            border: none !important;
            box-shadow:  inset 2px 2px 3px #888,
                        inset -2px -2px 3px #888;
        }

        label:not([for='id_remember']) {
            display: none;
        }

        input::placeholder {
            color: #aab7c4;
        }

        button,
        input[type='submit'] {
            /* btn */
            display: inline-block;
            font-weight: 400;
            color: #f7f7f7;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: .375rem .75rem;
            font-size: 1rem;

            /* standard bootstrap btn transitions */
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    }
}

.profile-form-input {
    font-family: 'Open Sans', sans-serif;
}

.profile-form-input:focus,
.profile-form-input:active {
    border: none !important;
    box-shadow:  inset 2px 2px 3px #888,
                 inset -2px -2px 3px #888;
}

.profile-form-input::placeholder {
    color: #aab7c4;
}

.custom-button-1 {
    background-color: rgba(var(--colour-2), 1);
    font-family: "Open Sans", sans-serif;
}

.custom-button-1:hover {
    background-color: rgba(var(--colour-2), .7);
}

.custom-button-2 {
    background-color: rgba(var(--colour-4), 1);
    font-family: "Open Sans", sans-serif;
}

.custom-button-2:hover {
    background-color: rgba(var(--colour-4), .7);
}

/* PROFILE APP */
select,
select option {
    font-family: "Open Sans", sans-serif;
    color: #000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

.order-history {
    max-height: 450px;
    overflow-y: auto;
}

.translate-left {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

/* Themes */
#theme-selector-wrapper {
    position: fixed;
    z-index: 10000;
    bottom: 5vh;
    right: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    #theme-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform: translateX(35rem);
        opacity: 0;
        transition: all .8s ease-in-out;

        .theme-option {
            cursor: pointer;
            z-index: 10000;
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .5s ease-in-out;

            &:hover {
                transform: translateY(-1rem);
                box-shadow: 4px 4px 4px #222;
            }
        }

        .dark-mode {
            background-color: #1c1c1c;
        }

        .theme-colour-band {
            width: 100%;
            height: 25%;
        }
    }

    #theme-selector-trigger {
        cursor: pointer;
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        background-color: pink;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h3 {
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

#images {
    
    .image-card {
        width: 90%;
        margin: auto;
        // box-shadow: 5px 5px 5px rgba(var(--box-shadow-colour), 1);
        transition: all .3s ease-in-out;

        &:hover {
            transform: translateY(-1rem);
            box-shadow: 8px 8px 8px rgba(var(--box-shadow-colour), 1);
        }

        img {
            width: 100% !important;
            margin: auto !important;
        }
    }
}

#edit-image {
    form  {
        img {
            width: 100%;
        }

        .btn-file input[type="file"] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}


/* About App */
#supplier-wrapper-1 {
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

#supplier-wrapper-2 {
    background-attachment: fixed;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
}

.supplier-wrapper {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    box-shadow: inset 7rem 7rem 14rem #000,
                inset -7rem -7rem 14rem #000;
    transition: all .5s ease-in-out;
}

.supplier-wrapper:hover {
    box-shadow: inset 12rem 12rem 18rem #000,
                inset -12rem -12rem 18rem #000;
}

.supplier-wrapper p {
    position: absolute;
    width: 60%;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#about p {
    font-size: 1.3rem;
}

#about .about-card {
    margin-bottom: 4rem;
    clip-path: polygon(5% 0%, 34% 4%, 58% 3%, 82% 4%, 100% 3%, 99% 32%, 100% 54%, 98% 81%, 100% 96%, 79% 100%, 41% 96%, 11% 100%, 0% 97%, 1% 86%, 0% 59%, 2% 34%, 0% 7%);
    transform: rotate3d(-1, 1, 0, 30deg);
    transition: all .5s ease-in-out;
}

#about .about-card:hover {
    transform: rotate3d(-1, 1, 0, 0) !important;
    clip-path: polygon(0 0, 33% 0, 58% 0, 82% 0, 100% 0, 100% 33%, 100% 56%, 100% 81%, 100% 100%, 73% 100%, 44% 100%, 16% 100%, 0 100%, 0 83%, 0 56%, 0 33%, 0 14%);
}

#about .about-card-heading {
    position: relative;
    z-index: 1000;
    transform: translateY(-2rem);
    background-color: #111;
}


@import 'media-queries';