@import 'config';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--body-color);
}

#navbar {
    background: linear-gradient(to right, var(--quarternary-color), var(--primary-color), var(--quanary-color));
    background-repeat: repeat;
    height: 10vh;

    .logo-img {
        height: 70%;

        img {
            height: 100%;
        }
    }

    .navbar-brand {
        font-family: 'Metal Mania', cursive !important;
        font-size: 1.7rem;
    }

    button.navbar-toggler {
        font-size: 2.5rem !important;

        .navbar-toggler-icon {
            padding-top: .6rem;
        }
    }

    #search-input button {
        background-color: var(--secondary-color);
    }

    #delivery-banner {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 10vh;
        left: 0;
        background-color: var(--tertiary-color);
    }
}

#header {
    height: 97vh;
    padding: 0;
    position: relative;
    display: block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 0% 100%);

    .carousel-indicators {
        position: absolute;
        bottom: 12vh;

        li {
            height: .5rem;
            background-color: var(--primary-color);
        }
    }

    a.carousel-control {
        font-size: 3rem;
        color: var(--secondary-color);
        z-index: 30;
    }

    .image-wrapper {
        height: 97vh;
        width: 100vw;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .call-to-action {
            text-align: center;
            position: absolute;
            bottom: 30vh;
            left: 0;
            right: 0;
            z-index: 20;

            h1 {
                font-family: "Miltonian Tattoo", cursive;
                font-size: 4rem;
                color: white;
            }

            a {
                font-size: 2rem;
                font-family: "Metal Mania", sans-serif;
                background-color: var(--quarternary-color);
                color: white;
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
                transition: all .5s ease-in-out;

                &:hover {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 75%, 25% 98%, 25% 75%, 0% 75%);
                }
            }
        }
    }

    .image-wrapper::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: inset 15rem 15rem 30rem #000,
                    inset -15rem -15rem 30rem #000;
    }

    .image-wrapper-1 {
        background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1592585702/burgersaurus/ham-burger-with-vegetables-1639557_er26ay.jpg');
    }

    .image-wrapper-2 {
        background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1592432817/burgersaurus/fried-fries-with-burger-on-ceramic-plate-3052248_1_ke0nk0.jpg');
    }

    .image-wrapper-3 {
        background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1592432745/burgersaurus/pizza-2619967_1_ngyxe3.jpg');
    }
}

#delivery-info-wrapper {
    position: relative;
    transform: translateY(-30%);
    width: 100%;
    height: 70vh;
    background: linear-gradient(to right, var(--quarternary-color), var(--primary-color), var(--quanary-color));
    clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 88%);
    z-index: -1;
}

@import 'media-queries';