{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block header %}
    <section id="about-header" class="header-container container-fluid mb-5" style="background: url({{ about_header.image.url }});background-attachment: fixed;">
        <h1 class="text-center p-xs-3 mb-xs-3 mb-lg-5 text-white">Yes, we know we're special... Read on to see why!</h1>
        <a href="#about" class="btn call-to-action-btn pt-2 pb-4 px-5 text-center text-white">Go!!!</a>
    </section>
{% endblock %}

{% block content %}
    <article id="about" class="container-fluid p-0">
        <section class="row m-0">
            <section id="supplier-wrapper-1" class="col-12 supplier-wrapper my-5" style="background: url({{ about_farm.image.url }});">
                <p class="text-white px-5">
                    All of our ingredients can be traced from the farm to our kitchens, and ultimately to your tastebuds. We take great care in selecting our suppliers and ensure that the animals which source our meat are treated humanely with the freedom to roam and enjoy their lives to the fullest. No corners cut here!
                </p>
            </section>
            <section id="supplier-wrapper-2" class="col-12 supplier-wrapper my-5" style="background: url({{ about_hydroponics.image.url }});">
                <p class="text-white px-5">
                    Our plant-based products are grown hydroponically and can also be traced right back to the supplier. Why not organic you might ask? Surely that's better? Actually, having our plants grown hydroponically allows for indoor growth. This in turn eliminates the need for herbicides and insecticides. Pest control is performed using natural predators, such as ladybirds and lacewing larvae. This means that the juicy tomato and crispy lettuce on your burger are completely toxin-free! Now, who doesn't want that?
                </p>
            </section>
        </section>
    </article>
    <article class="container">
        <section class="row m-0">
            <section class="col-12 col-md-6 about-card colour-1-bg p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <h2 class="about-card-heading d-inline-block px-3 py-2">1</h2>
                <p><i class="far fa-calendar-alt"></i>  Establised 2010</p>
                <p><i class="fas fa-award"></i>  Best Tasting Burger award</p>
                <p><i class="fas fa-award"></i>  Takeaway Of The Year award</p>
                <p><i class="fas fa-map-marker-alt"></i>  Outlets in Dublin, Cork, Limerick and Waterford</p>
                <p><i class="fas fa-certificate"></i>  Quality Assured</p>
            </section>
            <section class="col-12 col-md-6 about-card colour-2-bg p-5" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <h2 class="about-card-heading d-inline-block px-3 py-2">2</h2>
                <p class="text-white">
                    Since our humble beginnings as a local chipper in Dublin, we've always taken great pride in our ability to deliver the kind of food we want. That is to say, the very best on offer! We've expanded to Cork, Waterford, and Limerick with plans to conquer all Ireland.  Our founder, Johann the Magnificent, has always had a deep love for burgers. Throughout his life and journey to burger enlightenment, he sampled many a burger in pursuit of burger perfection.
                </p>
            </section>
        </section>
        <section class="row m-0">
            <section class="col-12 col-md-6 about-card colour-3-bg p-5" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <h2 class="about-card-heading d-inline-block px-3 py-2">3</h2>
                <p>
                    You probably notice we use the word <strong>burger</strong> a lot. It is indeed our speciality! Sorry, let's continue our story. While journeying to faraway lands and learning from masters and maesters (yes, that was a sneaky GoT reference), Johann discovered that, no matter how many ingredients and how much effort you put into burger preparation, it is the ingredients you use that ultimately affects burger perfection.
                </p>
            </section>
            <section class="col-12 col-md-6 about-card colour-4-bg p-5" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <h2 class="about-card-heading d-inline-block px-3 py-2">4</h2>
                <p>
                    Rest assured that we will continue to deliver the same high standard expected of us, and will aim to improve. That is to say, if such a thing is even possible...
                </p>
            </section>
        </section>
    </article>
{% endblock %}
{% block extra_js %}
{% endblock %}