{% extends 'base.html' %}

{% block header %}
    <section id="about-header" class="header-container container-fluid">
        <h1 class="text-center p-xs-3 mb-xs-3 mb-lg-5 text-white">Yes, we know we're special... Read on to see why!</h1>
        <a href="#about" class="btn call-to-action-btn pt-2 pb-4 px-5 text-center text-white">Go!!!</a>
    </section>
{% endblock %}

{% block content %}
    <section id="about" class="container">
        <h1 class="mt-5 mb-3 d-inline-block page-heading">About Us</h1>
    </section>
{% endblock %}
{% block extra_js %}
{% endblock %}