#supplier-wrapper-1 {
    background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1595540792/burgersaurus/farm.jpg');
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

#supplier-wrapper-2 {
    background: url('https://res.cloudinary.com/wondrouswebworks/image/upload/v1595540792/burgersaurus/hydroponics.jpg');
    background-attachment: fixed;
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
}

.supplier-wrapper {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    box-shadow: inset 7rem 7rem 14rem #000,
                inset -7rem -7rem 14rem #000;
    transition: all .5s ease-in-out;
}

.supplier-wrapper:hover {
    box-shadow: inset 12rem 12rem 18rem #000,
                inset -12rem -12rem 18rem #000;
}

.supplier-wrapper p {
    position: absolute;
    width: 60%;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#about p {
    font-size: 1.3rem;
}

#about .about-card {
    margin-bottom: 4rem;
    clip-path: polygon(5% 0%, 34% 4%, 58% 3%, 82% 4%, 100% 3%, 99% 32%, 100% 54%, 98% 81%, 100% 96%, 79% 100%, 41% 96%, 11% 100%, 0% 97%, 1% 86%, 0% 59%, 2% 34%, 0% 7%);
    transform: rotate3d(-1, 1, 0, 30deg);
    transition: all .5s ease-in-out;
}

#about .about-card:hover {
    transform: rotate3d(-1, 1, 0, 0) !important;
    clip-path: polygon(0 0, 33% 0, 58% 0, 82% 0, 100% 0, 100% 33%, 100% 56%, 100% 81%, 100% 100%, 73% 100%, 44% 100%, 16% 100%, 0 100%, 0 83%, 0 56%, 0 33%, 0 14%);
}

#about .about-card-heading {
    position: relative;
    z-index: 1000;
    transform: translateY(-2rem);
    background-color: #111;
}

@media only screen and (max-width: 576px) {
    .supplier-wrapper {
        min-height: 70vh;
        box-shadow: inset 3rem 3rem 7rem #000,
                    inset -3rem -3rem 7rem #000;
    }

    .supplier-wrapper:hover {
        box-shadow: inset 5rem 5rem 10rem #000,
                    inset -5rem -5rem 10rem #000;
    }
    .supplier-wrapper p {
        width: 100%;
        font-size: 1rem !important;
    }
}
